/*** Colors ***/
$background: #12151D;
$foreground: #ABB2BF;
$border: #1E222A;
$foreground-off: lighten($border, 20);

$white: #ffffff;
$red: #ec7875;
$purple: #7e3ebe;
$purple-light: lighten($purple, 20);
$purple-lighter: lighten($purple, 25);
$aqua: #1c7da6;
$pink: #ec407a;
$blurple: #5865f2;
$blue: #42a5f5;
$cyan: #4dd0e1;
$teal: #00b19f;
$green: #61c766;
$lime: #b9c244;
$yellow: #fdd835;
$amber: #fbc02d;
$orange: #e57c46;
$brown: #ac8476;
$indigo: #6c77bb;
$gray: #9e9e9e;
$blue-gray: #6d8895;

$label-font: "Comfortaa";

*{
  all: unset;
}

window {
  background-color: $background;
  color: $foreground;
  font-family: mononoki Nerd Font;
  border: 1px solid #999;
  border-radius: 11px;
}

/*** Bar Left ***/
.bar-left {
    font-size: 14px;
    padding: 0px 15px 0px 10px;
}

.control-panel-btn {
    padding: 0px 5px 0px 5px;
    font-size: 18px;
}

.user-label {
    font-family: $label-font;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 2px;
}

.bspwm {
    margin-left: 8px;
}

.bspwm-dot {
    font-size: 20px;
    margin-left: 4px;
    transition: color 0.2s;
}

.bspwm-selected {
    font-size: 18px;
    margin-left: 4px;
    margin-right: 4px;
    color: $purple;
    transition: color 0.2s;
}

.bspwm-dot:hover, .bspwm-selected:hover {
    color: $white;
}

.restart-bspwm {
    margin-left: 7px;
    font-size: 16px;
    color: $purple;
    transition: color 0.2s;
}

.restart-bspwm:hover {
    color: $white;
}

/*** Bar Middle ***/

.launcher {
    transition: color 0.2s;
    margin: 0 7px 0 7px;
    color: $foreground-off;
}

.launcher-active {
    color: $foreground;
}

.launcher:hover {
    color: $white;
}

.terminal-launcher { font-size: 22px }
.terminal-launcher-active { color: $indigo }

.editor-launcher { font-size: 20px }
.editor-launcher-active { color: $green }

.firefox-launcher { font-size: 18px; margin-top: 1px; }
.firefox-launcher-active { color: $orange }

.discord-launcher { font-size: 22px; margin-top: 3px; }
.discord-launcher-active { color: $blurple }

.files-launcher { font-size: 22px }
.files-launcher-active { color: $teal }

.calc-launcher { font-size: 22px }
.calc-launcher-active { color: $cyan }


/*** Bar Right ***/
.bar-right {
    padding: 0px 5px 0px 10px;
    margin: 1px 0px 1px 0px;
}

.powermenu-btn {
    font-size: 24px;
    color: $foreground-off;
    transition: color 0.2s;
    margin: 0px 6px 0px 6px;
}

.powermenu-btn:hover {
    color: $purple;
}

.powermenu-main {
    color: $purple;
}

/*** mpv Window ***/

.mpv-btn {
    font-size: 20px;
    margin-right: 3px;
    margin-top: 1px;
    color: $lime;
}

.mpv-container {
    padding: 10px 0 10px 0;
}

.song-icon {
    font-size: 20px;
    color: $lime;
    margin-right: 15px;
}

.song-name {
    font-size: 18px;
}

.mpv-progress {
    margin-top: 12px;
}

.mpv-progress trough {
    background-color: $border;
    border-radius: 5px;
    min-height: 8px;
}

.mpv-progress trough progress {
    background-color: rgba($lime, 0.8);
    border-radius: 5px;
}

.mpv-controls {
    margin-right: 7px;
    font-size: 16px;
    color: $foreground-off;
}

.mpv-controls button {
    transition: color 0.2s;
    margin: 0 7px 0 7px;
}

.mpv-controls button:hover {
    color: $lime;
}

.mpv-time {
    margin-top: 5px;
}

/*** Control Panel ***/

.sliders-side button, .sysbtn button {
  all: unset;
  padding: 10px;
}

.slider-vol-side-s trough highlight {
	all: unset;
	background-color: lighten($red, 3);
	color: #000000;
	border-radius: 10px;
    min-height: 10px;
    transition: background-color 0.2s;
}

.slider-vol-side-s-muted trough highlight {
    background-color: rgba($red, 0.4);
}

.slider-bright-side-s trough highlight {
    all: unset;
	background-color: $purple-lighter;
	color: #000000;
	border-radius: 10px;
    min-height: 10px;
}

.slider-vol-side-s trough {
	all: unset;
	background-color: $border;
	border-radius: 50px;
	min-height: 5px;
    min-width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.slider-bright-side-s trough {
    all: unset;
    background-color: $border;
    border-radius: 50px;
    min-height: 5px;
    min-width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.slider-stats {
    margin-top: 5px;
}

.label-temp-side, .label-bright-side, .label-ram-side, .label-vol-side, .label-cpu-side{
  margin-top: 10px;
  font-family: Iosevka Nerd Font;
  margin-left: 20px;
  font-size: 20px;
}

.label-vol-side {
    font-size: 24px;
    transition: color 0.2s;
}

.label-vol-side-muted button {
    color: rgba($red, 0.5);
}

.label-vol-side button {
    padding: 0px;
}

.value-side {
  margin-top: 10px;
  margin-left: 10px;
  font-family: Comfortaa;
  font-size: 15px;
  background-color: $border;
  padding: 5px 5px 3px 5px;
  min-width: 64px;
  border-radius: 6px;
}

.label-vol-side {
  color: $red;
}

.label-bright-side {
  color: $purple-light;
}

.label-cpu-side {
    // color: #98C379;
    color: lighten($red, 10);
    font-size: 18px;
    padding-top: 3px;
}

.label-temp-side {
    // color: #98C379;
    color: lighten($red, 5);
    font-size: 18px;
    padding-top: 3px;
}

.label-ram-side {
//   color: #E06C75;
  color: $red;
  font-size: 18px;
  padding-top: 3px;
}

.slider-bottom-right {
    margin-left: 15px;
}

.slider-wifi {
    padding-top: 20px;
}

.slider-wifi-icon {
    font-size: 30px;
    color: lighten($purple-light, 10);
}

.slider-wifi-icon-off {
    font-size: 30px;
    color: $blue-gray;
}

.slider-wifi-id {
    min-width: 90px;
    font-size: 16px;
    margin-left: 30px;
    background-color: $border;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
}

.slider-wifi-id-off {
    min-width: 90px;
    color: $red;
    font-size: 16px;
    margin-left: 20px;
    background-color: $border;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
}

.slider-uptime {
    padding-top: 20px;
}

.slider-uptime-icon {
    margin-left: 3px;
    font-size: 30px;
    color: $purple-light;
}

.slider-uptime-content {
    min-width: 90px;
    font-size: 16px;
    margin-left: 27px;
    background-color: $border;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
}

/** Date Time **/

.time {
    font-family: "Hurmit Nerd Font Mono";
    color: $purple-lighter;
    font-size: 40px;
    background-color: $border;
    margin-left: 25px;
    padding: 10px 15px 0px 10px;
    border-radius: 10px;
}

.date-container {
    margin-left: 25px;
}

.date {
    font-family: "Comfortaa";
    font-size: 20px;
    color: $purple-lighter;
    margin-bottom: 5px;
}

.day {
    font-family: "Comfortaa";
    font-size: 19px;
    color: $purple-light;
}